**/obj/
**/bin/
*.suo
*.user
/build/deploy
/build/*.log
**/.vscode/
**/.vs/
**/.idea
.classpath
.project
.settings/
*.iml
*.iws
.DS_Store
/target/
/documents/
**.tar
pom.xml.versionsBackup
/dev-environment/images/*.tar
/dev-environment/images/*.tar.gz